.card {
    background-color: #5a6268;
    height: 50vh;
    border-radius: 30px;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    height: 50%;
    width: 50%;
    box-sizing: border-box;
}